In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
df = pd.read_csv("../data/raw_osteoporosis_data.csv")
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1958 entries, 0 to 1957
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   1958 non-null   int64
 1   Age                  1958 non-null   int64
 2   Gender               1958 non-null   object
 3   Hormonal Changes     1958 non-null   object
 4   Family History       1958 non-null   object
 5   Race/Ethnicity       1958 non-null   object
 6   Body Weight          1958 non-null   object
 7   Calcium Intake       1958 non-null   object
 8   Vitamin D Intake     1958 non-null   object
 9   Physical Activity    1958 non-null   object
 10  Smoking              1958 non-null   object
 11  Alcohol Consumption  970 non-null    object
 12  Medical Conditions   1311 non-null   object
 13  Medications          973 non-null    object
 14  Prior Fractures      1958 non-null   object
 15  Osteoporosis         1958 non-null   int64
dtypes: int64(3), object(13)
memory usage: 244.9+ KB

In [41]:
df.rename(columns = {'Id': 'id', 'Age': 'age', 'Gender': 'gender', 
                     'Hormonal Changes': 'hormonal_changes', 'Family History': 'family_history', 
                    'Race/Ethnicity': 'race', 'Body Weight': 'body_weight', 'Calcium Intake': 'calcium', 
                     'Vitamin D Intake': 'vitamin_d', 'Physical Activity': 'physical_activity', 'Smoking': 'smoking', 
                    'Alcohol Consumption': 'alcohol_consumption', 'Medical Conditions': 'medical_condition', 
                     'Medications': 'medications', 'Prior Fractures': 'prior_fracture', 'Osteoporosis': 'osteoporosis'}, inplace = True)

In [43]:
df.isnull().sum()

# Alcohol Consumption, Medical Conditions and Medications have null values

id                       0
age                      0
gender                   0
hormonal_changes         0
family_history           0
race                     0
body_weight              0
calcium                  0
vitamin_d                0
physical_activity        0
smoking                  0
alcohol_consumption    988
medical_condition      647
medications            985
prior_fracture           0
osteoporosis             0
dtype: int64

In [51]:
df['alcohol_consumption'] = df['alcohol_consumption'].fillna('None')
df['medical_condition'] = df['medical_condition'].fillna('None')
df['medications'] = df['medications'].fillna('None')

In [55]:
for column in df.select_dtypes(include='object').columns:
    print(df[column].value_counts())
    print("\n")

gender
Male      992
Female    966
Name: count, dtype: int64


hormonal_changes
Normal            981
Postmenopausal    977
Name: count, dtype: int64


family_history
No     998
Yes    960
Name: count, dtype: int64


race
African American    681
Caucasian           646
Asian               631
Name: count, dtype: int64


body_weight
Normal         1027
Underweight     931
Name: count, dtype: int64


calcium
Low         1004
Adequate     954
Name: count, dtype: int64


vitamin_d
Sufficient      1011
Insufficient     947
Name: count, dtype: int64


physical_activity
Active       1021
Sedentary     937
Name: count, dtype: int64


smoking
Yes    982
No     976
Name: count, dtype: int64


alcohol_consumption
None    1958
Name: count, dtype: int64


medical_condition
None    1958
Name: count, dtype: int64


medications
None    1958
Name: count, dtype: int64


prior_fracture
Yes    983
No     975
Name: count, dtype: int64

In [61]:
df['age'].describe()

count    1958.000000
mean       39.101124
std        21.355424
min        18.000000
25%        21.000000
50%        32.000000
75%        53.000000
max        90.000000
Name: age, dtype: float64

In [59]:
df.head()

,id,age,gender,hormonal_changes,family_history,race,body_weight,calcium,vitamin_d,physical_activity,smoking,alcohol_consumption,medical_condition,medications,prior_fracture,osteoporosis
0,104866,69,Female,Normal,Yes,Asian,Underweight,Low,Sufficient,Sedentary,Yes,None,None,None,Yes,1
1,101999,32,Female,Normal,Yes,Asian,Underweight,Low,Sufficient,Sedentary,No,None,None,None,Yes,1
2,106567,89,Female,Postmenopausal,No,Caucasian,Normal,Adequate,Sufficient,Active,No,None,None,None,No,1
3,102316,78,Female,Normal,No,Caucasian,Underweight,Adequate,Insufficient,Sedentary,Yes,None,None,None,No,1
4,101944,38,Male,Postmenopausal,Yes,African American,Normal,Low,Sufficient,Active,Yes,None,None,None,Yes,1